[submodule "BitVector64"]
	path = BitVector64
	url = ./BitVector64
[submodule "BitVector64.Test"]
	path = BitVector64.Test
	url = ./BitVector64.Test
[submodule "BitVector"]
	path = BitVector
	url = ./BitVector
[submodule "BitVector.Test"]
	path = BitVector.Test
	url = ./BitVector.Test
[submodule "BitVectorSet"]
	path = BitVectorSet
	url = ./BitVectorSet
